<div class="container">
	<div class="row">
		<div class="col-xs-12  col-sm-10 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-3 col-lg-offset-3">

			<%= form_for(speedpaint) do |f| %>
			<% if speedpaint.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(speedpaint.errors.count, "error") %> prohibited this speedpaint from being saved:</h2>

				<ul>
					<% speedpaint.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
	
			<div class="form-group">
				<%= f.label :video_url %>
				<%= f.text_field :url, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :description %>
				<%= f.text_area :description, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :video_tag %>
				<%= f.collection_select :video_tag_id, VideoTag.all, :id, :name, {:prompt => "Please Select Video Tag"}, {:class => "form-control"} %>
			</div>

			<div class="form-group">
				<%= f.label :creation_date %>
				<%= f.date_select :creation_date, { :discard_day => true}, class: "form-control" %>
			</div>

			<div class="actions">
				<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
				<% end %>
				<%= link_to '<i class="fa fa-floppy-o" aria-hidden="true"></i> Cancel'.html_safe, speedpaints_path, {class: "btn btn-danger"} %>
			</div>

			<% end %>
		</div>
	</div>
</div>
