<% provide(:title, "Speedpaints") %>
<% provide(:phrase, "digital art in motion") %>

<!-- Start margin -->
<div class="margin-collection">
             
		<!-- Start projects -->
		<div class="container">

			<ul class="portfolio-filter text-center">
				<li><a class="btn btn-default active" href="#" data-filter="*">All Collection</a></li>
				<% VideoTag.all.each do |video_tag| %>
				<li><a class="btn btn-default" href="#" data-filter=".<%= video_tag.id %>"><%= video_tag.name %></a></li>
				<% end %>
			</ul><!--/#portfolio-filter-->

			<div class="row">
				<div class="portfolio-items">
					<% @speedpaints.each do |speedpaint| %>
					<div class="portfolio-item <%= speedpaint.video_tag_id %> col-xs-12 col-sm-4 col-md-4">
						<div class="recent-work-wrap text-center">
							<%= youtube_video speedpaint.url %>
						</div>
						<% if logged_in? && current_user.role_id == 1 %> 
							<%= link_to 'Edit Speedpaint', edit_speedpaint_path(speedpaint), {class: "btn btn-primary"} %>
						<% end %>
					</div><!-- /portfolio-item -->
					<% end %>
				</div><!-- /portfolio-items -->
			</div><!-- /row -->
               
		</div><!-- /container -->
       
	</div>
	<!-- End margin -->
	
	<% if logged_in? && current_user.role_id == 1 %> 
	<%= link_to 'New Speedpaint', new_speedpaint_path, {class: "btn btn-success"} %>
	<% end %>