		<!-- Header -->
		<div class="brand"> Speedpaints
			<div class="title"> - video collection of my speedpaints -  </div>
		</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speedpaint.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @speedpaint.description %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @speedpaint.url %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @speedpaint.creation_date %>
</p>

<% if logged_in? && current_user.role_id == 1 %> 
<%= link_to 'Edit', edit_speedpaint_path(@speedpaint) %> |
<% end %>
<%= link_to 'Back', speedpaints_path %>
