<% provide(:title, "Art Works") %>
<% provide(:phrase, "drawings and paints") %>

<!-- Start margin -->
<div class="margin-collection">
             
	<!-- Start projects -->
	<div class="container">

		<ul class="portfolio-filter text-center">
			<li><a class="btn btn-default active" href="#" data-filter="*">All Collection</a></li>
			<% Tag.all.each do |tag| %>
			<li><a class="btn btn-default" href="#" data-filter=".<%= tag.id %>"><%= tag.name %></a></li>
			<% end %>
			<% if logged_in? && current_user.role_id == 1 %> 
			<%= link_to 'Manage Tags', tags_path, {class: "btn btn-info"} %>
			<% end %>
		</ul><!--/#portfolio-filter-->

		<% if logged_in? && current_user.role_id == 1 %> 
		<div class="row text-center">
			<%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Add New Art'.html_safe, new_art_path, {class: "btn btn-success"} %>
		</div>
		<% end %>

		<div class="row">
			<div class="portfolio-items">
				<% @arts.each do |art| %>
				<div class="portfolio-item <%= art.tag_id %> col-xs-12 col-sm-4 col-md-4">
					<div class="recent-work-wrap text-center">
						<%= image_tag art.image_url %>
						<div class="overlay">
							<div class="recent-work-inner">
								<p class="art-name"><%= art.name %></p>
								<p class="art-description"><%= art.description %></p>
								<%= link_to 'View Art', art, {class: "btn btn-default"} %>
							</div> 
						</div>
					</div>
				</div><!-- /portfolio-item -->
				<% end %>
			</div><!-- /portfolio-items -->
		</div><!-- /row -->
               
	</div><!-- /container -->
       
</div>
<!-- End margin -->
