<% provide(:title, "Art Works") %>

<p id="notice"><%= notice %></p>

         <!-- Start margin -->
         <div class="margin-collection">
             <div class="col-md-10 col-xs-offset-1">
                   <div class="heading-c">
                    I sarted drawing at age 8. I like drawing people and scenes from superhero movies.         
									</div>
             </div>
             <!-- End text -->
             
             <!-- Start projects -->
             <div class="container">

               <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Collection</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".spring">Spring</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".summer">Summer</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".autumn">Autumn</a></li>
               </ul><!--/#portfolio-filter-->

               <div class="row">
                 <div class="portfolio-items">
									 <% @arts.each do |art| %>
                    <div class="portfolio-item summer col-xs-12 col-sm-4 col-md-4">
                        <div class="recent-work-wrap">
													<%= image_tag art.image_url.to_s %>
                            <!-- <img class="img-responsive" src="img/image1.jpg" alt=""> -->
                            <div class="overlay">
                                <div class="recent-work-inner">
																	<%= link_to 'Show', art %>
                                <!-- <a href="img/image1.jpg" data-lightbox="image-1" data-title="Photo1">                                View</a> -->
                                </div> 
                            </div>
                        </div>
                    </div><!-- /portfolio-item -->
									    <% end %>
                 </div><!-- /portfolio-items -->
               </div><!-- /row -->
               
             </div><!-- /container -->
       
          </div>
          <!-- End margin -->


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <!-- <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art', new_art_path %>
