<% provide(:title, "Art Works") %>
<% provide(:phrase, "drawings and paints") %>

<p id="notice"><%= notice %></p>

<!-- Start margin -->
<div class="margin-collection">
	<!-- <div class="col-md-10 col-xs-offset-1">
		<div class="heading-c">
		I sarted drawing at age 8. I like drawing people and scenes from superhero movies.
		</div>
		</div> -->
		<!-- End text -->
             
		<!-- Start projects -->
		<div class="container">

			<ul class="portfolio-filter text-center">
				<li><a class="btn btn-default active" href="#" data-filter="*">All Collection</a></li>
				<% Tag.all.each do |tag| %>
				<li><a class="btn btn-default" href="#" data-filter=".<%= tag.id %>"><%= tag.name %></a></li>
				<% end %>
			</ul><!--/#portfolio-filter-->

			<div class="row">
				<div class="portfolio-items">
					<% @arts.each do |art| %>
					<div class="portfolio-item <%= art.tag_id %> col-xs-12 col-sm-4 col-md-4">
						<div class="recent-work-wrap text-center">
							<%= image_tag art.image_url %>
							<div class="overlay">
								<div class="recent-work-inner">
									<%= link_to 'View', art %>
								</div> 
							</div>
						</div>
					</div><!-- /portfolio-item -->
					<% end %>
				</div><!-- /portfolio-items -->
			</div><!-- /row -->
               
		</div><!-- /container -->
       
	</div>
	<!-- End margin -->
	<% if logged_in? && current_user.role_id == 1 %> 
	<%= link_to 'New Art', new_art_path %>
	<% end %>