<% provide(:title, "Socials") %>
<% provide(:phrase, "manage social media links") %>

<!-- Start margin -->
<div class="margin-collection">
             
	<!-- Start projects -->
	<div class="container">
		<div class="row text-center">
			<%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Add New Media'.html_safe, new_social_path, {class: "btn btn-success"} %>
		</div>
		
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th width='20%'>Name</th>
					<th width='25%'>Icon</th>
					<th width='25%'>URL</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>

			<tbody>
				<% @socials.each do |social| %>
				<tr>
					<td><%= social.name %></td>
					<td><%= social.icon.html_safe %></td>
					<td><%= social.url %></td>
					<td><%= link_to '<i class="fa fa-edit" aria-hidden="true"></i> Edit'.html_safe, edit_social_path(social), {class: "btn btn-primary"} %></td>
					<td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, social, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete ' + social.name + ' tag?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>